// Normalization
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

// Buttons
button, a {
    &:focus {
        outline: none;
    }
}

.default-btn {
    background-color: transparent;
    border: 3px solid $first_color;
    color: $first_color;
    text-transform: uppercase;
    font-family: $default_font;
    font-weight: bold;
    padding: 12px 30px;

    &_purple {
        color: $second_color;
        border-color: $second_color;
    }
}

.link-btn {
    background-color: transparent;
    border: none;
    font-family: $default_font;
    color: $first_color;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}

// Menu
.menu {
    display: flex;
    margin-bottom: 0;

    li {
        margin-right: 55px;

        &.last {
            margin-right: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        color: $first_color;
        text-transform: uppercase;
        font-family: $section_font;
        font-size: 14px;

        &.current {
            font-weight: bold;
        }
    }

    // Burger
    .burger { 
        background-color: transparent;
        border: none;
        display: block;
        margin-left: auto;
        height: 20px;
        width: 25px;
        position: relative;

        &.active {
            span {
                transform: scaleX(0.65);

                &:first-child {
                    transform: none;
                }

                &:last-child {
                    transform: scaleX(0.25);
                }
            }

            &:hover {
                span {
                    transform: scaleX(0.65);
    
                    &:first-child {
                        transform: none;
                    }
    
                    &:last-child {
                        transform: scaleX(0.25);
                    }
                }
            }
        }

        span {
            display: block;
            width: 25px;
            height: 2px;
            background-color: $first_color;
            transition: transform .5s;
            position: absolute;
            transform-origin: right;

            &:first-child {
                top: 2px;
            }

            &:last-child {
                bottom: 0;
            }
        }

        &:hover {
            span {
                transform: scaleX(0.65);

                &:first-child {
                    transform: scaleX(0.25);
                }

                &:last-child {
                    transform: none;
                }
            }
        }
    }
}

// Hidden menu
.hidden-menu {
    width: 100%;
    position: fixed;
    top: -350px;
    opacity: 0;
    right: 0;
    z-index: 1000;

    transition: top .8s, opacity .8s;

    &.showed {
        top: 100px;
        opacity: 1;
    }

    &__menu {
        display: block;
        width: 300px;
        background-color: $first_color;
        border: 1px solid $second_color;
        margin-left: auto;

        li {
            margin-right: 0;
        }

        a {
            color: $second_color;
            padding: 20px 20px;
            display: block;
            width: 100%;
            border: 1px solid $first_color;

            &:hover {
                text-decoration: none;
                color: $first_color;
                background-color: $second_color;
            }
        }
    }
}

// Titles
.h1-title {
    color: $first_color;
    text-transform: uppercase;
    font-family: $default_font;
    font-weight: bold;
    font-size: 3em;

    &_purple {
        color: $second_color;
    }
}

// Form
.form {

    // Input
    &__input {
        width: 100%;
        padding: 18px 10px;
        color: $second_color;
        font-family: $default_font;
        margin-bottom: 30px;

        &::placeholder {
            color: $second_color;
            font-family: $default_font;
        }
    }

    // Text
    &__text {
        color: $first_color;
        font-family: $default_font;
        font-size: 0.9em;
        margin-bottom: 20px;
    }
}