.download {
    background-color: $second_color;
    padding: 50px 0;

    // Image
    &__img {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    // Content
    .content {

        // Title
        &__title {
            margin-top: 40px;
            margin-bottom: 60px;
        }

        // Description
        &__descr {
            color: $first_color;
            margin-bottom: 90px;
        }

        // Buttons
        &__btn {
            &:first-child {
                margin-right: 20px;
            }
        }
    }
}