// Main header
.main-header {
    height: 100px;
    background-color: $second_color;
    border-bottom: 1px solid transparentize($color: $first_color, $amount: 0.5);

    &__menu {
        justify-content: flex-end;justify-content: flex-end;
    }
}

// Hidden header
.hidden-header {
    height: 100px;
    width: 100%;
    background-color: $first_color;
    border-bottom: 1px solid transparentize($color: $second_color, $amount: 0.5);
    position: fixed;
    top: -100px;
    z-index: 100;

    transition: top .5s;

    &.showed {
        top: 0;
    }

    // Menu
    &__menu {
        justify-content: flex-end;
        a {
            color: $second_color;
        }
    }

    // Burger
    .burger-container {
        margin-right: 0;
    }

    .burger {
        span {
            background-color: $second_color;
        }
    }
}