.home {
    background-color: $second_color;
    padding-bottom: 0px;
    padding-top: 50px;

    .content {

        // Container settings
        &-container {
            display: flex;
            align-items: center;
        }
    
        // Title
        &__title {
            margin-bottom: 30px;
        }
    
        // Desription
        &__descr {
            color: $first_color;
            font-family: $default_font;
        }
    
        // Buttons
        &__btn {
            &:first-child {
                margin-right: 60px;
            }
        }
    }
    
    // Buttons container
    .btns-container {
        margin-top: 70px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }
    
    // Image
    &__img {
        width: 100%;
        position: relative;
        margin-bottom: 40px;
    }
}