// Fonts
$logo_title_font: 'Saira', sans-serif;
$default_font: 'Roboto', sans-serif;
$sections_title_font: 'Roboto Condensed', sans-serif;
$buttons_font: 'Anonymous Pro', monospace;

// Colors
$bg_color: #303030;
$main_color: #fff;
$second_color: #696969;