/*
=======================================
    About section
=======================================
*/ 

.about {
    padding-bottom: 95px;
    /*
    -----------------------------------
        About / Title
    -----------------------------------
    */
    &__title {
        margin-bottom: 52px;
    }

    /*
    -----------------------------------
        About / Text
    -----------------------------------
    */
    &__text {
        color: $text_color;
        line-height: 19px;
        margin-bottom: 60px;
    }

    /*
    -----------------------------------
        About / Image
    -----------------------------------
    */
    &__img {
        padding-top: 1em;
        position: relative;

        img {
            width: 100%;
        }
    }

    .img__title {
        position: absolute;
        bottom: -20px;
        right: 20px;
        background-image: url('../img/about_bg.png');
        background-size: cover;
        color: $main_color;
        font-weight: bold;
        text-transform: uppercase;
        width: 257px;
        padding: 20px 0;
        text-align: center;
    }

    /*
    -----------------------------------
        About / Button
    -----------------------------------
    */
    &__btn {
        margin-bottom: 50px;
    }
}