/*
=======================================
    Core
=======================================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main_font;
}

.bg-fill {
    background-color: $bg_color;
}

.accent {
    text-transform: uppercase;
    color: $accent_color;
}

/*
---------------------------------------
    Menu
---------------------------------------
*/

.menu {
    &__link {
        font-family: $second_font;
        font-weight: bold;
        color: $text_color;
        margin-right: 38px;
        transition: color .5s;

        &:last-child {
            margin-right: 0;
        }
        
        &.current {
            color: #000;
        }

        &:hover {
            color: $accent_color;
            text-decoration: none;
        }
    }
}

.hidden-menu {
    position: fixed;
    top: -500px;
    opacity: 0;
    left: 0;
    z-index: 100;
    border: 1px solid $text_color;
    transition: top 1s, opacity .5s;

    &.show {
        top: 100px;
        opacity: 1;
    }

    &__link {
        display: block;
        padding: 15px 20px;
        padding-right: 100px;
        background-color: $main_color;
        color: $text_color;
        font-weight: bold;

        &:hover {
            color: $main_color;
            background-color: $accent_color;
            text-decoration: none;
        }
    }
}

/*
---------------------------------------
    Button
---------------------------------------
*/
.default-btn {
    color: $main_color;
    font-family: $main_font;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $accent_color;
    border: none;
    border-radius: 32px;
    padding: 15px 30px;
    box-shadow: 0px 0px 10px #52F2A5;

    &:focus {
        outline: none;
    }
}

/*
---------------------------------------
    Burger button
---------------------------------------
*/ 
.burger-btn {
    background-color: transparent;
        border: none;
        display: block;
        margin-left: auto;
        height: 20px;
        width: 25px;
        position: relative;

        &:focus {
            outline: none;
        }

        &.active {
            span {
                transform: scaleX(0.65);

                &:first-child {
                    transform: none;
                }

                &:last-child {
                    transform: scaleX(0.25);
                }
            }

            &:hover {
                span {
                    transform: scaleX(0.65);
    
                    &:first-child {
                        transform: none;
                    }
    
                    &:last-child {
                        transform: scaleX(0.25);
                    }
                }
            }
        }

        span {
            display: block;
            width: 25px;
            height: 2px;
            background-color: #000;
            transition: transform .5s;
            position: absolute;
            transform-origin: left;

            &:first-child {
                top: 2px;
            }

            &:last-child {
                bottom: 0;
            }
        }

        &:hover {
            span {
                transform: scaleX(0.65);

                &:first-child {
                    transform: scaleX(0.25);
                }

                &:last-child {
                    transform: none;
                }
            }
        }
}

/*
---------------------------------------
    Section
---------------------------------------
*/ 

.section {
    padding-top: 120px;
}

/*
---------------------------------------
    Titles
---------------------------------------
*/ 
.dbl-title {

    &__sub {
        color: $accent_color;
        font-family: $second_font;
        font-weight: bold;
        font-size: 1em;
        letter-spacing: 0.03em;
        margin-bottom: 0;
    }

    &__main {
        font-weight: bold;
        letter-spacing: 0.03em;
        font-size: 3em;
    }
}

.basic-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.2em;
}

/*
---------------------------------------
    Form
---------------------------------------
*/ 
.form {

    &__input {
        background-color: $bg_color;
        border: 1px solid transparentize($color: $text_color, $amount: .22);
        border-radius: 11px;
        padding: 15px;
        width: 100%;
        margin-bottom: 30px;
    }

    &__message {
        min-height: 157px;
        margin-bottom: 60px;
    }

    &__btn {
        display: block;
        margin: 0 auto;
    }
}