/*
=======================================
    Features section
=======================================
*/ 

.features {
    padding-bottom: 90px;
    /*
    -----------------------------------
        Features / Title
    -----------------------------------
    */ 
    &__title {
        margin-bottom: 90px;
    }

    /*
    -----------------------------------
        Features / Item
    -----------------------------------
    */
    &__item {
        margin-bottom: 50px;

        &:hover {
            .item__img {
                color: $main_color;
                box-shadow: 0px 0px 15px #52F2A5;

                &::before {
                    border: 50px solid $accent_color;
                }
            }
        }
    }

    .item {
        /*
        -----------------------------------
            Features / Item / Title
        -----------------------------------
        */
        &__title {
            text-transform: uppercase;
            text-align: center;
            color: $accent_color;
            font-weight: bold;
            font-size: 1.15em;
        }

        /*
        -----------------------------------
            Features / Item / Image
        -----------------------------------
        */
        &__img {
            position: relative;
            text-align: center;
            font-size: 3em;
            color: $accent_color;
            background-color: transparent;
            z-index: 1;

            max-width: 95px;
            padding: 7.5px 0;
            margin: 0 auto;
            margin-bottom: 18px;

            border: 4px solid $accent_color;
            border-radius: 50%;
            overflow: hidden;
            transition: color .8s, box-shadow .7s;

            &::before {
                content: '';
                display: block;
                width: 100px;
                height: 100px;
                position: absolute;
                top: -7px;
                left: -6.5px;

                border: 4px solid $accent_color;
                border-radius: 50%;
                z-index: -1;
                transition: border .7s;

            }
        }
    }
}