/*
=======================================
    Header
=======================================
*/

$header_height: 100px;

.header {
    height: $header_height;

    &__menu {
        justify-content: flex-end;
    }
}

.hidden-header {
    position: fixed;
    top: -$header_height;
    width: 100%;
    z-index: 100;

    border-bottom: 1px solid transparentize($color: $text_color, $amount: .75);
    transition: top .5s;

    &.show {
        top: 0;
    }
}