/*
=======================================
    Services section
=======================================
*/ 

.services {
    padding-bottom: 50px;
    /*
    -----------------------------------
        Services / Title
    -----------------------------------
    */
    &__title {
        margin-bottom: 120px;
    }

    /*
    -----------------------------------
        Services / Item
    -----------------------------------
    */
    &__item {
        margin-bottom: 50px;
    }


    .item {
        /*
        -----------------------------------
            Services / Item / Title
        -----------------------------------
        */
        &__title {
            text-transform: uppercase;
            text-align: center;
            color: $accent_color;
            font-weight: bold;
            font-size: 1.15em;
        }

        /*
        -----------------------------------
            Services / Item / Image
        -----------------------------------
        */
        &__img {
            text-align: center;
            font-size: 3em;
            color: $accent_color;
            margin-bottom: 15px;
        }
    }
}